.product-images {
    height: 300px;
    overflow: hidden;

    figure {
        z-index: 1;
        position: relative;
        height: 100%;
        width: 100%;
        margin: 0;
        top: -100%;

        .image {
            width: 100%;
        }
    }

    .arrow-button-group {
        z-index: 2;
        position: relative;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0px 15px;

        .arrow-button {
            position: relative;
            background: var(--neutral-color-white);
            height: 40px;
            width: 40px;
            border-radius: 50%;

            img {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                height: 14px;
            }
        }
    }
}
