.interaction {
    padding: 20px 26px;
    font-weight: 700;

    .amount-picker {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 20px;
        height: 60px;
        background-color: var(--neutral-color-light-grayish-blue);
        border-radius: 7px;

        .add {
            height: 13px;
        }

        .add,
        .sub {
            width: 13px;
            color: var(--primary-color-orange);
            cursor: pointer;

            &:hover {
                filter: opacity(70%);
            }

            &.hide {
                visibility: hidden;
            }
        }
    }

    .submit-btn {
        margin-top: 15px;
        height: 60px;
        background: var(--primary-color-orange);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 7px;
        color: var(--neutral-color-white);
        font-size: 16px;

        &:hover {
            cursor: pointer;

            filter: opacity(70%);
        }

        .btn-content {
            width: 120px;
            display: flex;
            justify-content: space-between;

            img {
                height: 18px;
                filter: invert(100%);
            }
        }
    }
}
